body {
    padding: 0 0 0 0;
}

.header {
    background-image: linear-gradient(to right, white, pink, cyan, lime);
    color: #7facaa;
    text-align: center;
}

.nav {
    padding-left: 0%;
}

.header ul li {
    display: inline;
}

h2 {
    border-bottom: 1px solid #ccc;
}

.sub-head {
    color: #7facaa;
}

.content h1 {
    text-align: center;
}

.content {
    height: fit-content;
    width: fit-content;
    padding: 20px 20px 20px 20px;
    border: 1px solid #dddddd;
    margin: 30px auto;

}

.p {
    color: black;
    margin-right: 10px;
}

ul {
    padding: 0 0 0 50px;
}

.recipes {
    list-style-type: none;
    padding: 0;
}

ul li {}

.recipes li {
    border: 1px solid #b56663;
    padding-left: 15;
    margin-bottom: 10px;
}

h3 {
    margin: 15px 0 15px 0;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 3px;
}

h3 {
    border-bottom: 0;
}

.recipes a {
    color: #7facaa;
    text-decoration: none;
}